*{
    margin: 0%;
    padding: 0%;

    box-sizing: border-box;
}   

body{
    /* background-color: var(--light-color); */
    background-image: url(/assets/images/eeeeeeh.jpg);
    color: var(--base-color);
    font-family: var(--base-font);

}

h1{
    color: var(--accent-color);
    font-family: var(--accent-font);
    font-size: 4em;
    text-shadow: 15%;
    
}

h2{
    color: var(--accent-color);
}

a{
    text-decoration: none;
    color: var(--base-color);

}

a:hover{
    color: var(--accent-color);
}

ul{
    list-style: none;
}